.watch_list{
    /* border: solid wheat 2px; */
    /* display: inline-grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto; */
    /* height: 11em;
    width: 11em; */
}
.watch_button {
    /* background-color: red; */
    margin-top: 1em;
    margin-right: 1em;
    height: 11em;
    width: 11em;
    color: darkorchid;

}
.watch_card {
    /* background-color: blue; */

}
.watch_title {
    /* background-color: yellow; */
    font-size: larger;
    font-weight: bolder;
}
.watch_image {
    /* background-color: green; */
    height: 7em;
    width: 7em;
}
