/* .accordion:hover,
.active {
  background-color: rgba(173, 135, 2, .5);
} */

.accordion_icon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }

.rotate {
    transform: rotate(90deg);
  }


.invisible {
display:none;
}

.visible {
  display:block;

}